# Dépendances EAZYNOVA Core
# Dépendances EAZYNOVA Core
qifparse
numpy>=1.24.0
Pillow>=10.0.0
PyPDF2>=3.0.0

# Pour OCR/IA achats
pytesseract>=0.3.10
pdf2image>=1.16.0
openai>=1.0.0
anthropic>=0.7.0
# Import bancaire
ofxparse>=0.21
pandas>=2.0.0
pdfminer.six>=20221105
